{% extends "autre1/tempUIT.html.twig" %}


{% block corps2 %}
	
		<div>
			<div class="container contenuListeEnseign">
				
				<div class="row">
					<h2 style="padding-left: 3%;">ADMINISTRATION DE l'IUT/UP</h2>
				</div>
<div class="" style="width: 100%; height: 2px; background-color: red; border: black solid 1px;"></div>
				<div class="row">
					
					{% for membreAdministration in listMembrAdministration %}
						<div class="col-md-6 ">
						<div class="card mb-3 formationCarte">
							<div class="row no-gutters">
								<div class="col-md-6">
									  <div class="card-img-top" style="overflow: hidden; padding: 10%;">
									  	<img src="img/{{ membreAdministration.photo }}"  alt="Pas de Photo Disponible">
									  </div>
									  <h5 class="card-title marge">{{ membreAdministration.nom }} {{ membreAdministration.prenoms }}</h5>
								</div>

								<div class="col-md-6">
									  <div class="card-body">
										    
										    <p class="card-text">
										    	{{ membreAdministration.denomination }}
										    </p>
												    
										</div>
								</div>

							</div>
						</div>
						</div>


					{% endfor %}



				</div>


				<div class="row">
					<h2 style="padding-left: 3%; padding-top: 5%;">RESPONSABLES DES FILIERES DE FORMATIONS DE l'IUT/UP</h2>
				</div>
<div class="" style="width: 100%; height: 2px; background-color: red; border: black solid 1px;"></div>
				<div class="row">
					
					{% for membreAdministration in listMembrAdministration %}
						<div class="col-md-6 ">
						<div class="card mb-3 formationCarte">
							<div class="row no-gutters">
								<div class="col-md-6">
									  <div class="card-img-top" style="overflow: hidden; padding: 10%;">
									  	<img src="img/{{ membreAdministration.photo }}"  alt="Pas de Photo Disponible">
									  </div>
									  <h5 class="card-title marge">{{ membreAdministration.nom }} {{ membreAdministration.prenoms }}</h5>
								</div>

								<div class="col-md-6">
									  <div class="card-body">
										    
										    <p class="card-text">
										    	{{ membreAdministration.denomination }}
										    </p>
												    
										</div>
								</div>

							</div>
						</div>
						</div>


					{% endfor %}

				</div>
			</div>
		</div>
			
		


	

{% endblock %}




