{% extends "autre1/tempUIT.html.twig" %}


{% block corps2 %}
	
		<div class="row">
			<div class="col-md-12 contenuListeEnseign">
				<h2>Nos Enseignants</h2>
				<p>
					Le corps enseignant est composé d’enseignants permanents de l’Université de Parakou et de collaborateurs extérieurs. La liste des enseignants permanents de l'institut Universitaire de Technologie de l'université de Parakou se présente comme suit :
				</p>
			</div>
		</div>

		<div>
			<div class="container contenuListeEnseign">
				
				<div class="row">
					<h2>Liste des enseignants de l'IUT de Parakou</h2>
				</div>
				<div class="row">
					
					{% for enseignant in listEnseignant %}

					<div class="col-md-6 col-lg-4">
						<div class="card formationCarte">
							  <div class="card-img-top" style="overflow: hidden; padding: 10%;">
							  	<img src="img/{{enseignant.photo}}"  alt="Pas de Photo Disponible">
							  </div>	
							  <div class="card-body">
								    
								    <h5 class="card-title"><a href="?p=enseignants&num={{loop.index0}}" style="display: block;">{{enseignant.nom}} {{enseignant.prenoms}}</a></h5>
								    <p class="card-text">
								    	{{enseignant.grade}}
								    </p>
								    <h6 class="cartParaTitre">Spécialité : </h6>
								    <p>
								    	{{enseignant.specialite}}
								    	
								    </p> 
							  </div>
						</div>
					</div>


					{% endfor %}

				</div>
			</div>
		</div>
			
			

{% endblock %}




