{% extends "autre1/tempUIT.html.twig" %}


{% block corps2 %}
	<div class="corps2" id="singleEns">
		<div class="infos_gene">
			<div class="row">
				<h1 class="nomEns">{{enseignant.prenoms}} {{enseignant.nom}}</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="img/{{enseignant.photo}}" class="img-fluid" alt="Pas de photo disponible">
					<img src="" width="10" height="10">
				</div>
				<div class="col-md-4 info">
					<p style="font-size: 2em; font-weight: bold; font-family: Poppins,sans-serif;">{{enseignant.grade}}</p>
					<h5>Spécialité :</h5>
					<p>{{enseignant.specialite}}</p>
				</div>
				<div class="col-md-4">
					<h2>Contacts</h2>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"> <span class="fa fa-facebook puce">  </span> {{enseignant.contact.facebook}} </li>
						<li class="list-group-item"><span class="fa fa-twitter-square puce">  </span> {{enseignant.contact.twitter}}</li>
						<li class="list-group-item"><span class="fa fa-whatsapp puce">  </span> {{enseignant.contact.whatsApp}}</li>
						<li class="list-group-item"><span class="fa fa-skype puce">  </span> {{enseignant.contact.skype}}</li>
						<li class="list-group-item"><span class="fa fa-phone puce">  </span> {{enseignant.contact.telephone}}</li>
						<li class="list-group-item"><span class="fa fa-envelope puce">  </span> {{enseignant.contact.eMail}}</li>
					</ul>
					
				</div>
			</div>
			
		</div>

		<div class="row ribriques">
			<ul class="nav nav-pills nav-justified">
			  <li class="nav-item">
			    <a class="nav-link {% block activPresentation %}active{% endblock %}" href="?p=enseignants&num={{numero}}">PRESENTATION</a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link {% block activAxesDeRecherche %} {% endblock %}" href="?p=enseignants&num={{numero}}&rub=axe">AXES DE RECHERCHE</a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link {% block activEnseignement %} {% endblock %}" href="?p=enseignants&num={{numero}}&rub=ens">ENSEIGNEMENT</a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link {% block activPublications %} {% endblock %}" href="?p=enseignants&num={{numero}}&rub=publi">PUBLICATIONS</a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link {% block activParcours %} {% endblock %}" href="?p=enseignants&num={{numero}}&rub=parcs">PARCOURS</a>
			  </li>
			</ul>
		</div>

		<div class="row corps_rubrique">
			{% block contenuRublique %}
			<p>
				{{enseignant.presentation}}
			</p>
			{% endblock %}
		</div>
	</div>		

	

{% endblock %}